<div class="row">
    <div class="col">
      <div class="row"><h1>Privacy Policy</h1></div>
      <div class="row">
        <ul>
          <li>What information do you collect?</li>
            We collect access to your Google Calendar
            
          <li>How do you use the information?</li>
            We add events from the application to your Google Calendar
            
          <li>What information do you share?</li>
            We do not share which events from the application you've added to your Google Calendar
        </ul>
      </div>
    </div>
  </div>
