<div class="row">
  <div class="col margin-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Events App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'All Users', '/users', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'All Events', '/events', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Event', '/events/new', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'New User', '/users/new', class: 'nav-link' %>
          </li>
      </div>
    </div>
  </div>
